.typedCursor {
    &.typedCursorBlink {
        animation: typedjsBlink 1s infinite;
    }
}

@keyframes typedjsBlink {
    0% {
        opacity: 100;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}